/* ===================================================================
 CSS information
 author     : SELVA Co., Ltd.
 style info : list
=================================================================== */
#list .bg_pattern_blue {
  padding-top: 0;
}
#list #intro {
  background-image: url("../images/common/bg_intro_list.png"), url("../images/common/bg_pattern_blue.jpg");
  background-position: left top, left top;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  min-height: 200px;
  padding: 20px 3% 46px;
}
#list .bg_wave {
  padding-bottom: 0;
}
#list #pager {
  background-color: #f1ebe6;
  padding: 13px 0;
}
#list #pager button {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  border: none;
}
#list #pager button.prev {
  background: url(../images/common/ic_minus.png) center center no-repeat;
  background-size: 18px auto;
  margin: 0 6px;
  border: 1px solid #7b7a79;
}
#list #pager button.next {
  background: url(../images/common/ic_plus.png) center center no-repeat;
  background-size: 18px auto;
  margin: 0 4px;
  border: 1px solid #7b7a79;
}
#list #pager button.num {
  background-color: #f1ebe6;
  margin: 0 2px;
  font-size: 18px;
  border-radius: 30px;
  text-align: center;
}
#list #pager button.num.active {
  border: 1px solid #7b7a79;
}
#list #pager button:hover {
  background-color: rgba(255, 254, 254, 0.69);
  cursor: pointer;
}
