/* ===================================================================
 CSS information
 author     : SELVA Co., Ltd.
 style info : toppage
=================================================================== */
#fv {
  background: url(../images/top/top_bg_fv1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  height: 100vh;
  min-height: 800px;
  position: relative;
  text-align: left;
  overflow: hidden;
  vertical-align: baseline;
}

/* fv */
.pagetop {
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 120;
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}
.pagetop img {
  width: 100%;
  transition: .85s;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.pagetop:hover img {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.inner_fv {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding: 4px 0 0;
  position: relative;
}

.pager_fv button {
  width: 30px;
  height: 30px;
  background-color: transparent !important;
  background: url(../images/common/pager_off.png) center center no-repeat;
  background-size: auto 26px;
  padding: 0 !important;
  margin: 3px;
  border: none !important;
}

.pager_fv button:hover {
  background: url(../images/common/pager_on.png) center center no-repeat;
  background-size: auto 26px;
}

.pager_fv button:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  #fv {
    background: url(../images/top/top_bg_fv1.jpg);
    background-position: right -305px center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1px;
    height: 775px;
  }

  #nav_sub {
    display: none;
  }

  .logo_fv {
    display: none;
  }

  .inner_fv .sns_fv {
    display: none;
  }

  .wrp_box_fv {
    bottom: 30px;
  }
  .wrp_box_fv .wrp_box_txt {
    padding: 0 2% 3%;
  }

  .nav_header_small li a {
    background-size: auto 8px;
    padding: 2px 6px 2px 8px;
  }

  .wrp_header_sub {
    background-color: #333436;
    height: 52px;
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
    -moz-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
    -webkit-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
    transition: .3s;
  }

  .wrp_box_ex .box_ex {
    background-color: #fff;
    width: 49%;
    margin: 0 0 30px 2%;
  }
  .wrp_box_ex .box_ex:nth-child(2n+1) {
    margin-left: 0;
  }

  #nav_main {
    display: none;
  }

  footer #pharsel .box_left {
    width: 100%;
    float: none;
    text-align: center;
  }
  footer #pharsel .box_right {
    width: 100%;
    float: none;
  }
  footer #pharsel .nav_footer {
    float: none;
    width: 100%;
    text-align: center;
  }
  footer #pharsel .nav_footer li {
    background: #505050;
    margin-bottom: 6px;
    float: none;
    display: inline-block;
  }
  footer #pharsel .nav_footer li a {
    background-size: auto 8px;
    padding: 2px 16px 2px 11px;
    font-size: 12px;
  }
  footer #selva .box_left {
    width: 100%;
    padding-left: 0;
    float: none;
    text-align: center;
  }
  footer #selva .box_right {
    float: none;
  }
  footer #selva .box_right .osaka,
  footer #selva .box_right .tokyo {
    margin: 0 auto 10px;
    font-size: 13px;
  }
  footer #selva .box_right .osaka .txt_selva span,
  footer #selva .box_right .tokyo .txt_selva span {
    font-size: 13px;
  }
  footer #selva .box_right .contact {
    font-size: 12px;
  }
  footer #selva .sns_fv {
    text-align: center;
  }
  footer #selva .sns_fv li {
    float: none;
  }

  form .submit-container {
    float: none;
  }
}
@media (max-width: 480px) {
  .wrp_box_ex .box_ex {
    background-color: #fff;
    width: 100%;
    margin: 0 0 40px;
    float: none;
  }

  /* special */
  #special .bg_special {
    background: url(../images/top/bg_special.jpg) 0 0 no-repeat;
    background-size: cover;
    padding: 60px 0;
  }
  #special .inner_special .box_img {
    width: 100%;
    float: none;
    margin-bottom: 4px;
  }
  #special .inner_special .box_img .box_liquid {
    top: 0;
  }
  #special .inner_special .box_txt {
    width: 100%;
    margin-left: 0%;
    float: none;
    text-align: center;
  }
  #special .inner_special .box_txt img {
    margin-bottom: 4px;
  }
  #special .inner_special .box_txt .btn_basic {
    width: auto;
    min-width: 210px;
    display: inline-block;
    float: none;
  }
}
