@charset "utf-8";
/* ===================================================================
CSS information

 author     : SELVA Co., Ltd.
 style info : 基本・共通設定
=================================================================== */
@import "settings";

html {
	text-align: center;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', 'Hiragino Kaku Gothic ProN', 'Yu Gothic', sans-serif;
	line-height: 1.5em;
	overflow-x: hidden;
}
a {
	color: #929292;
	text-decoration: none;
	.mouse &:hover,
	.touch &.touchstart {
		text-decoration: none;
		opacity: .8;
	}
}
img {
	max-width: 100%;
	height: auto;
}
// .mouseOver
.over {
	.mouse & {
		@include transition(opacity 200ms ease-in);
	}
	@include hover {
		@include opacity(.7);
	}
}
// border-box
* {
	@include box-sizing(border-box);
}
// effects
.effect div {
  transition: .8s;
  transition-delay: .8s;
}

.cf:before,
.cf:after {
		content:"";
		display:table;
}
.cf:after {
		clear:both;
}
.cf {
		zoom:1;
}

.font_min {
	font-family: Georgia,游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN",HGS明朝E,メイリオ,Meiryo,serif;
}

.sns_fv {
	float: right;
}
.sns_fv li {
	float: left;
	display: inline-block;
}
.logo_fv {
	display: inline-block;
	padding-left: 2%;
}

/* header */
header {
	width: 100%;
}
#nav_sub {
	background-color: rgba(0, 0, 0, 0.74);
	width: 100%;
	border-top: 1px solid #07b1c6;
	box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
	-moz-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
	-webkit-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
}
#nav_sub .inner_nav_sub {
	max-width: 1200px;
	margin: 0 auto;
}
#nav_sub .tl_pharsel {
	padding-top: 5px;
	padding-left: 2%;
	float: left;
	color: #fff;
	font-weight: normal;
	font-size: 10px;
	opacity: 0.6;
}
#nav_sub .nav_header_small {
	float: right;
}
.nav_header_small {
	float: right;
}
.nav_header_small li {
	padding-left: 10px;
	float: left;
	opacity: 0.5;
}
.nav_header_small li a {
	background: url(../images/common/ic_triangle.png)0 center no-repeat;
	background-size: auto 10px;
	padding: 2px 10px 2px 14px;
	font-size: 10px;
	color: #fff;
}

#nav_main {
	position: absolute;
	top: auto;
	bottom: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	transition: .3s;
}
#nav_main ul {
	background-color: #fff;
	width: 100%;
	border-top: 1.5px solid #07b1c6;
	box-shadow: 0px 2px 14px 0px rgba(206, 206, 206, 0.72);
	-moz-box-shadow: 0px 2px 14px 0px rgba(206, 206, 206, 0.72);
	-webkit-box-shadow: 0px 2px 14px 0px rgba(206, 206, 206, 0.72);
}
#nav_main ul li {
	background-size: auto 14px!important;
	width: 20%;
	float: left;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}
#nav_main ul li:hover {
	box-shadow:0px 0px 1px 1px #e6e6e6 inset;
	-moz-box-shadow:0px 0px 1px 1px #e6e6e6 inset;
	-webkit-box-shadow:0px 0px 1px 1px #e6e6e6 inset;
}
#nav_main ul li:first-child {
	background: url(../images/common/tl_gnav_search.png) center top 10px no-repeat;
	border: none;
}
#nav_main ul li:first-child.active,
#nav_main ul li:first-child:hover {
	background: url(../images/common/tl_gnav_search_on.png) center top 10px no-repeat;
	border: none;
}
#nav_main ul li:nth-child(2) {
	background: url(../images/common/tl_gnav_interview.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(2).active,
#nav_main ul li:nth-child(2):hover {
	background: url(../images/common/tl_gnav_interview_on.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(3) {
	background: url(../images/common/tl_gnav_contents.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(3).active,
#nav_main ul li:nth-child(3):hover {
	background: url(../images/common/tl_gnav_contents_on.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(4) {
	background: url(../images/common/tl_gnav_entry.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(4).active,
#nav_main ul li:nth-child(4):hover {
	background: url(../images/common/tl_gnav_entry_on.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(5) {
	background: url(../images/common/tl_gnav_login.png) center top 10px no-repeat;
}
#nav_main ul li:nth-child(5).active,
#nav_main ul li:nth-child(5):hover {
	background: url(../images/common/tl_gnav_login_on.png) center top 10px no-repeat;
}
#nav_main ul li span {
	display: block;
	font-size: 10px;
	color: #9c9c9c;
	font-weight: 200;
}
#nav_main ul li a {
	padding: 22px 2% 2px;
	display: block;
}
#nav_main ul li.active a span,
#nav_main ul li a:hover span {
	color: #07b1c6;
}

.nav {
  width: 100%;
}
.is-fixed .header {
  margin-bottom: 64px;
}
.is-fixed #nav_main {
	height: 50px;
  position: fixed;
  top: 0;
  left: 0;
}

.wrp_box_fv {
	width: 100%;
	position: absolute;
	bottom: 100px;
	z-index: 1;
	.wrp_box_txt {
		padding: 0 0 3% 5%;
		.tl_fv {
			font-size: 52px;
			line-height: 1.3em;
		}
		.img_tl_fv {
			padding-bottom: 10px;
		}
	}
	.wrp_search_box {
		margin: 0 1%;
		-webkit-border-radius: 10px 10px 10px 10px;
		-moz-border-radius: 10px 10px 10px 10px;
		border-radius: 10px 10px 10px 10px;
		box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		-moz-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		-webkit-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		.search_box_top {
			background-color: rgba(236, 236, 236, 0.87);
			padding: 10px 4px 6px;
			-webkit-border-radius: 10px 10px 0 0;
			-moz-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
			border: 1px solid #e8e8e8;
			text-align: center;
		}
		.search_box_bototm {
			background-color: rgba(247, 247, 247, 0.88);
			padding: 20px 2% 17px;
			position: relative;
			-webkit-border-radius: 0 0 10px 10px;
			-moz-border-radius: 0 0 10px 10px;
			border-radius: 0 0 10px 10px;
		}
	}
	.ic_more {
		position: absolute;
		bottom: -40px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	.buttom_more {
		background: url(../images/common/ic_plus.png) center center no-repeat;
		background-size: auto 32px;
		background-color: #fff;
		height: 56px;
		width: 56px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
		box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		-moz-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		-webkit-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		position: absolute;
		bottom: -24px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 1;
	}
	.buttom_more:hover {
		height: 55px;
		width: 55px;
		box-shadow: 0px 0px 6px 1px #eaeaea inset;
		-moz-box-shadow: 0px 0px 6px 1px rgba(154, 154, 154, 0.41) inset;
		-webkit-box-shadow: 0px 0px 6px 1px rgba(154, 154, 154, 0.41) inset;
		cursor: pointer;
	}
}

/* sec_new */
#sec_new {
	.inner_new {
		max-width: 1030px;
		margin: 0 auto;
		padding: 0 1% 10px;
		&:before {
			background-color: #e2e2e2;
			content: "";
			height: 1px;
			width: 100%;
			position: absolute;
			top: 12px;
			left: 0;
			z-index: 2;
		}
	}
	.bg_gray {
		padding-top: 14px;
		position: relative;
	}
	.btn_basic {
		width: 100%;
	}
}

/* sec_other */
#sec_other {
	.bg_gray {
		padding: 40px 2%;
		.inner {
			max-width: 1030px;
			margin: 0 auto;
		}
	}
}

/* special */
#special {
	.bg_special {
		background: url(../images/top/bg_special.jpg) 0 0 no-repeat;
		background-size: cover;
		padding: 60px 0;
	}
	.inner_special {
		background-color: rgba(255, 255, 255, 0.65);
		width: 100%;
		min-height: 300px;
		max-width: 1030px;
		margin: 0 auto;
		padding: 60px 1% 30px;
		position: relative;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		-moz-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		-webkit-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
		.ic_special {
			position: absolute;
			top: -20px;
			left: 5px;
			z-index: 1;
		}
		.box_img {
			width: 32%;
			float: left;
			.box_liquid {
				top: 0;
			}
		}
		.box_txt {
			width: 66%;
			margin-left: 2%;
			float: left;
			text-align: left;
			.txt_small {
				margin-bottom: 20px;
			}
			.btn_basic {
				width: auto;
				min-width: 210px;
				display: inline-block;
				float: right;
				a {
					background: transparent linear-gradient(to right, #fd98bd, #e25f8f) repeat scroll 0% 0%;
					&:hover {
						background: transparent linear-gradient(to right, #f7c7ec, #d85082) repeat scroll 0% 0%;
					}
				}
			}
		}
	}
}

/* entry */
#entry {
	padding: 74px 2%;
	text-align: center;
	.btn_basic {
		margin-top: 12px;
	}
}

/* common */
//layout
.bg_pattern_blue {
	background: url(../images/common/bg_pattern_blue.jpg) 0 0 repeat;
	padding: 20px 0;
}
.bg_gray {
	background-color: rgba(243, 243, 243, 0.68);
}

.wrp_box_ex {
	padding-top: 10px;
	.box_ex {
		background-color: #fff;
		width: 32%;
		margin-left: 2%;
		padding: 0 0 6px;
		float: left;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
		box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.22);
		-moz-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.22);
		-webkit-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.22);
		&:first-child{
			margin-left: 0;
		}
		.box_txt_ex {
			padding: 0 6%;
			text-align: left;
			position: relative;
			top: -6px;
			color: #a0a0a0;
			.tl_ex {
				margin-bottom: 4px;
				font-size: 18px;
				color: #4cc013;
				line-height: 1.25em;
				.img_ic {
					position: absolute;
			    top: -45px;
			    left: 3px;
			    z-index: 1;
				}
				&.ics {
					padding-left: 65px;
					margin-bottom: 11px;
					&.col1 {
						color: #5ec1bc;
					}
					&.col2 {
						color: #14b9d5;
					}
					&.col3 {
						color: #43b9ff;
					}
				}
			}
			.txt_ex {
				height: 3em;
				font-size: 12px;
				line-height: 1.45em;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
		    -webkit-box-orient: vertical;
		    -webkit-line-clamp: 2;
			}
			.box_ic {
				margin-bottom: 12px;
				.ic_ex {
					margin-left: 1px;
					padding: 2px 6px;
					display: inline-block;
					border: 1px solid #98e672;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					border-radius: 3px;
					font-size: 10px;
					color: #4cc013;
					&:first-child {
						margin-left: 0;
					}
				}
			}
			.wrp_info {
				margin-bottom: 10px;
				.tl_name {
					font-weight: normal;
					font-size: 14px;
					padding-bottom: 2px;
					border-bottom: 1px dotted #ddd;
				}
				.txt_info {
					margin-right: 4px;
					display: inline-block;
					font-size: 10px;
					&.en {
						background: url(../images/common/ic_en.png)0 center no-repeat;
						background-size: auto 16px;
						padding-left: 15px;
					}
					&.pin {
						background: url(../images/common/ic_pin.png)0 center no-repeat;
						background-size: auto 15px;
						padding-left: 14px;
					}
					&.train {
						background: url(../images/common/ic_train.png)0 center no-repeat;
						background-size: auto 13px;
						padding-left: 13px;
					}
				}
			}
		}
	}
}

.box_liquid {
	padding-top: 172px;
	margin: 0 3.5%;
	position: relative;
	top: -13px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
	-moz-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
	-webkit-box-shadow: 0px 0px 14px 2px rgba(195, 195, 195, 0.44);
	&.new:before {
		background: url(../images/common/ic_flag_new.png) center left no-repeat;
		background-size: 47px auto;
		width: 47px;
		height: 47px;
		content: "";
		position: absolute;
		top: -2px;
		right: -3px;
		z-index: 1;
	}
}

//tl
.tl_ic {
	font-size: 24px;
	font-weight: normal;
	letter-spacing: -2px;
	color: #343434;
	text-align: left;
}
.tl_ic span {
	position: relative;
	top: -20px;
}
.tl_ic .ic_large {
	position: relative;
}
.tl_ic img {
	vertical-align: bottom;
}

.tl_other {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
	padding-bottom: 3px;
	border-bottom: 1px solid #ececec;
	span {
		padding: 0 4px 4px;
		font-size: 22px;
		font-weight: normal;
		border-bottom: 1px solid #30aab9;
		letter-spacing: -1px;
	}
}

/* txt */
.kana {
	padding-right: 0.1em;
	letter-spacing: -0.1em;
}
.txt_small {
	font-size: 14px;
	line-height: 1.45em;
	color: #a0a0a0;
}
.font_min {
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
.tl_entry {
	font-size: 25px;
	font-weight: normal;
	text-align: center;
	color: #35abba;
	span {
		display: inline-block;
	}
	small {
		position: relative;
		top: -3px;
		letter-spacing: 1px;
		display: block;
		color: #ddd;
		font-size: 16px;
	}
}

/* form */
.wrp_form {
	display: table;
	margin: 0 auto 10px;
}
form .wrp_area {
	display: inline-block;
	padding: 1px 0 1px 1px;
}
form .wrp_word {
	display: inline-block;
	margin-bottom: 5px;
}

form .wrp_txt {
	padding: 10px 20px 10px 0;
	float: left;
}
form .submit-container {
	width: 200px;
	margin: 8px auto 10px;
	float: left;
	text-align: right;
}

.form-field {
	background-color: #ffffff;
	padding: 8px 21px 4px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #aba196;
	-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
	box-shadow: 1px 1px 27px rgba(181, 181, 181, 0.73);
	&.word {
		width: 220px;
		background: url(../images/common/ic_word.png) left 14px top 8px no-repeat;
		background-size: 20px auto;
		background-color: #fff;
		padding-left: 36px;
		vertical-align: top;
	}
}
::-webkit-input-placeholder {
  opacity: 0.5;
}
.form-field:focus {
	color: #adaaa6;
}
.form-title {
	margin-bottom:10px;
	color: #858585;
	text-shadow: #fdf2e4 0 1px 0;
}

/* フォント指定 */
.select-1, .select-1 * {
  font-family: "Helvetica Neue","メイリオ",Meiryo,Helvetica,Arial,"游ゴシック",YuGothic,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
/* labelタグのスタイル */
.select-1 {
  position: relative;
  display: inline-block;
  background: #fff;
	margin-right: 10px;
	margin-bottom: 9px;
  border-radius: 2em;
  box-shadow: 1px 1px 27px rgba(181, 181, 181, 0.73);
  font-size: 1em;
  overflow: hidden;
  z-index: 0;
	vertical-align: top;
}
/* 下三角の表示 */
.select-1:after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  top: 50%;
  right: 16px;
  margin-top: -.2em;
  border-width: .45em .3em;
  border-style: solid;
  border-color: #999999 transparent transparent;
  z-index: -1;
}
/* selectタグのスタイル */
.select-1 select {
	background: url(../images/common/ic_pin.png) left 10px center no-repeat;
	background-size: 19px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: .4em 7em .2em 32px;
  color: #c1c1c1;
  border-radius: 2em;
  font-size: 1em;
  outline: none;
	vertical-align: bottom;
}
/* selectタグ選択中のスタイル */
.select-1 select:focus {
}
/* IEの下三角非表示 */
.select-1 select::-ms-expand {
  display: none;
}
/* Firefoxの点線非表示 */
.select-1 select::-moz-focus-inner {
  border: 0;
}
/* 表示されるオプションスタイル */
.select-1 select * {
  background: #242424;
  color: #fff;
  text-shadow: none;
}

label,
input,
select {
	border: none;
}

.wrp_word input[type="text"]:focus {
	width: 100%;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
}

.bg_checkbox {
	margin: 4px 0 0 0;
	border-bottom: 1px dotted #ddd;
}
.bg_checkbox li {
  position: relative;
  display: inline-block;
  margin: 0 22px 10px 0;
  padding: 0;
}
 
.bg_checkbox input {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.bg_checkbox input[type="checkbox"] + label {
  display: block;
  background-image: url(../images/common/pager_off.png);
  background-position: left center;
  background-repeat: no-repeat;
	background-size: contain;
  padding: 4px 0 0 30px;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	color: #9e9e9e;
	font-size: 15px;
}
 
.bg_checkbox input[type="checkbox"]:checked + label {
  background-image: url(../images/common/pager_on.png);
}

.txt_more {
	width: 100%;
	text-align: center;
}



/* btn */
input.btn_basic {
	background: url(../images/common/ic_search.png) left 64px center no-repeat #07b1c6;
	background-color: transparent linear-gradient(to right, #7ec6ce, #2ba8b7) repeat scroll 0% 0%;
	background-size: auto 18px;
	width: 100%;
	padding: 12px 5% 10px 14%;
	display: table;
	margin: 0 auto 0;
	border: none;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #fff;
	text-align: center;
	transition: all .5s ease;
	-webkit-transition: all .5s ease;
	&:hover {
		background-color: #2fc7da;
		cursor: pointer;
	}
}
.btn_basic {
	min-width: 220px;
	display: table;
	margin: 0 auto;
	a {
		// background-color: #07b1c6;
		background: transparent linear-gradient(to right, #7ec6ce, #2ba8b7) repeat scroll 0% 0%;
		width: 100%;
		padding: 12px 5% 10px 10%;
		display: block;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
		color: #fff;
		text-align: center;
		transition: all .5s ease;
		-webkit-transition: all .5s ease;
		span {
			background: url(../images/common/ic_triangle.png) left 2px center no-repeat;
			background-size: auto 10px;
			padding-left: 20px;
			position: relative;
			left: -10px;
		}
		&:hover {
			background: transparent linear-gradient(to right, #80d9e0, #22a0af) repeat scroll 0% 0%;
		}
	}
}

.boxLink {
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

//footer
footer {
	.inner {
		max-width: 1080px;
		margin: 0 auto;
	}
	#pharsel {
		background-color: #383838;
		padding: 22px 2% 45px;
		.inner {
		}
		.box_left {
			width: 30%;
			float: left;
			text-align: left;
			.logo_pharsel {
				position: relative;
				left: -10px;
			}
		}
		.box_right {
			width: 60%;
			float: right;
			.btn_basic {
				margin: 0 auto 0 0;
			}
		}
		.nav_footer {
			margin-bottom: 30px;
			float: right;
		}
		.nav_footer li {
			padding-left: 14px;
			float: left;
			opacity: 0.7;
		}
		.nav_footer li a {
			background: url(../images/common/ic_triangle.png) 0 center no-repeat;
			background-size: auto 10px;
			padding: 2px 10px 2px 14px;
			font-size: 14px;
			color: #fff;
		}
	}
	.accordion {
		background: transparent linear-gradient(to right, #444444, #212c2d) repeat scroll 0% 0%;
		padding: 6px 10px 2px;
		text-align: center;
		color: #b9b9b9;
		font-size: 13px;
		border-bottom: 1px dotted #484848;
		&:hover {
			cursor: pointer;
		}
	}
	#selva {
		background-color: #303030;
		padding: 32px 0 14px;
		display: none;
		.box_left {
			margin-bottom: 20px;
			padding-left: 10px;
			float: left;
			text-align: left;
			.txt_url a {
				font-size: 11px;
				position: relative;
				top: -10px;
			}
		}
		.box_right {
			float: right;
			text-align: left;
			color: #b7b7b7;
			.osaka,
			.tokyo {
				width: 50%;
				padding: 0 2%;
				display: inline-block;
				font-size: 15px;
				float: left;
				.txt_selva {
					span {
						font-size: 13px;
					}
				}
			}
			.contact {
				margin-top: 5px;
				li {
					margin-bottom: 1px;
					padding-left: 20px;
					font-size: 15px;
					&:first-child {
						background: url(../images/common/ic_footer_tel.png) 0 0 no-repeat;
						background-size: auto 16px;
					}
					&:nth-child(2) {
						background: url(../images/common/ic_footer_fax.png) 0 0 no-repeat;
						background-size: auto 16px;
					}
				}
			}
		}
		.sns_fv {
			float: none;
		}
	}
	.txt_fotter_bottom {
		background-color: #232323;
		padding: 4px 0;
		text-align: center;
		font-size: 11px;
		font-weight: thin;
		color: #757575;
	}
	#sec_nav_page {
		background-color: #353535;
		padding: 2px 0;
		border-top: 1px dotted #5f5f5f;
		.nav_header_small {
			max-width: 1100px;
			margin: 0 auto;
			float: none;
		}
	}
}
