@media (max-width: 768px) {
	#fv {
		background: url(../images/top/top_bg_fv1.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 1px;
		height: 300px;
	}

	#nav_sub {
		display: none;
	}
	.logo_fv {
		display: none;
	}
	.inner_fv .sns_fv {
		display: none;
	}
	.wrp_box_fv {
		position: absolute;
		top: 58%;
		left: 50%;
		-webkit-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		.wrp_box_txt {
			padding: 0 2%;
			.tl_fv {
				font-size: 40px;
			}
		}
	}

	form .wrp_txt {
		padding: 10px 2%;
	}
	form .wrp_area,
	.wrp_word,
	.form-field.word,
	.select-1,
	#select_1 {
		width: 100%;
	}

	.nav_header_small li a {
		background-size: auto 8px;
		padding: 2px 6px 2px 8px;
	}

	.wrp_header_sub {
		background-color: rgb(51, 52, 54);
		height: 52px;
		width: 100%;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
		-moz-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
		-webkit-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
		transition: .3s;
	}
	.wrp_box_ex {
		.box_ex {
			background-color: #fff;
			width: 49%;
			margin: 0 0 30px 2%;
			&:nth-child(3n+1) {
				margin-left: 2%;
			}
			&:nth-child(2n+1) {
				margin-left: 0;
			}
		}
	}
	#nav_main {
		display: none;
	}

	//footer
	footer {
		.inner {
		}
		#pharsel {
			.inner {
			}
			.box_left {
				width: 100%;
				float: none;
				text-align: center;
				.logo_pharsel {
				}
			}
			.box_right {
				width: 100%;
				float: none;
				.btn_basic {
				}
			}
			.nav_footer {
				float: none;
				width: 100%;
				text-align: center;
				li {
					background: #505050;
					margin-bottom: 6px;
					float: none;
					display: inline-block;
					a {
						background-size: auto 8px;
						padding: 2px 16px 2px 11px;
						font-size: 12px;
					}
				}
			}
		}
		#selva {
			.box_left {
				width: 100%;
				padding-left: 0;
				float: none;
				text-align: center;
			}
			.box_right {
				float: none;
				.osaka,
				.tokyo {
					margin: 0 auto 10px;
					font-size: 13px;
					.txt_selva {
						span {
							font-size: 13px;
						}
					}
				}
				.contact {
					font-size: 12px;
					li {
						&:first-child {
						}
						&:nth-child(2) {
						}
					}
				}
			}
			.sns_fv {
				text-align: center;
				li {
					float: none;
				}
			}
		}
		.txt_fotter_bottom {
		}
		#sec_nav_page {
			.nav_header_small {
			}
		}
	}

	form .submit-container {
		float: none;
	}

	/* txt */
	.tl_contens_lower {
		width: 80%;
	}

	/* special */
	#special {
		#sec_new {
			.bg_wave {
				.inner {
					#main {
					}
				}
			}
		}
	}
	#bottom {
		.box_content_bottom {
			width: 100%;
			float: none;
			.inner_img {
				width: 100%;
				float: left;
				text-align: center;
			}
			.inner_txt {
				width: 100%;
				float: none;
			}
		}
	}

	/* detail */
	#detail {
		.inner_basic {
			.wrp_photo,
			.wrp_txt {
				float: none;
			}
			.wrp_photo {
				width: 100%;
			}
			.wrp_txt {
				width: 100%;
				padding-top: 20px;
			}
			.box_txt_ex {
				padding: 0 2%;
			}

			.btn_basic {
				margin: 20px auto;
			}
		}

		.dl_detail {
			dt,
			dd {
				display: block;
				vertical-align: baseline;
			}
			dt {
				position: relative;
				top: 7px;
			}
		}
	}

	/* interview */
	#interview {
		.box_txt_ex {
			padding-right: 0;
		}
		.inner_basic .btn_basic {
			margin: 14px 0 21px auto;
		}
	}


}
