@charset "utf-8";
/* ===================================================================
 CSS information
 author     : SELVA Co., Ltd.
 style info : top
=================================================================== */
@import "settings";
#fv {
	background: url(../images/top/top_bg_fv1.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	width: 100%;
	height: 710px;
	position: relative;
	text-align: left;
	overflow: hidden;
	vertical-align: baseline;
}

/* fv */
.pagetop {
	width: 70px;
	height: 70px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 120;
	transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;
	img {
		width: 100%;
		transition: .85s;
		-webkit-transform: rotateY( 0deg );
		transform: rotateY( 0deg );
	}
	&:hover {
		img {
			-webkit-transform: rotateY( 360deg );
			transform: rotateY( 360deg );
		}
	}
}

.inner_fv {
	max-width: 1200px;
	height: 100%;
	margin: 0 auto;
	padding: 4px 0 0;
	position: relative;
}
.pager_fv button {
	width: 30px;
	height: 30px;
	background-color: transparent!important;
	background: url(../images/common/pager_off.png) center center no-repeat;
	background-size: auto 26px;
	padding: 0!important;
	margin: 3px;
	border: none!important;
}
.pager_fv button:hover {
	background: url(../images/common/pager_on.png) center center no-repeat;
	background-size: auto 26px;
}
.pager_fv button:hover {
	cursor: pointer;
}

@media (max-width: 768px) {
	#fv {
		background: url(../images/top/top_bg_fv1.jpg);
		background-position: right -305px center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 1px;
		height: 775px;
	}

	#nav_sub {
		display: none;
	}
	.logo_fv {
		display: none;
	}
	.inner_fv .sns_fv {
		display: none;
	}
	.wrp_box_fv {
		bottom: 30px;
		.wrp_box_txt {
			padding: 0 2% 3%;
		}
	}

	.nav_header_small li a {
		background-size: auto 8px;
		padding: 2px 6px 2px 8px;
	}

	.wrp_header_sub {
		background-color: rgb(51, 52, 54);
		height: 52px;
		width: 100%;
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
		-moz-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
		-webkit-box-shadow: 0px 2px 14px 0px rgba(128, 128, 128, 0.8);
		transition: .3s;
	}
	.wrp_box_ex {
		.box_ex {
			background-color: #fff;
			width: 49%;
			margin: 0 0 30px 2%;
			&:nth-child(2n+1) {
				margin-left: 0;
			}
		}
	}
	#nav_main {
		display: none;
	}

	//footer
	footer {
		.inner {
		}
		#pharsel {
			.inner {
			}
			.box_left {
				width: 100%;
				float: none;
				text-align: center;
				.logo_pharsel {
				}
			}
			.box_right {
				width: 100%;
				float: none;
				.btn_basic {
				}
			}
			.nav_footer {
				float: none;
				width: 100%;
				text-align: center;
				li {
					background: #505050;
					margin-bottom: 6px;
					float: none;
					display: inline-block;
					a {
						background-size: auto 8px;
						padding: 2px 16px 2px 11px;
						font-size: 12px;
					}
				}
			}
		}
		#selva {
			.box_left {
				width: 100%;
				padding-left: 0;
				float: none;
				text-align: center;
			}
			.box_right {
				float: none;
				.osaka,
				.tokyo {
					margin: 0 auto 10px;
					font-size: 13px;
					.txt_selva {
						span {
							font-size: 13px;
						}
					}
				}
				.contact {
					font-size: 12px;
					li {
						&:first-child {
						}
						&:nth-child(2) {
						}
					}
				}
			}
			.sns_fv {
				text-align: center;
				li {
					float: none;
				}
			}
		}
		.txt_fotter_bottom {
		}
		#sec_nav_page {
			.nav_header_small {
			}
		}
	}

	form .submit-container {
		float: none;
	}
}


@media (max-width: 480px) {
	.wrp_box_ex {
		.box_ex {
			background-color: #fff;
			width: 100%;
			margin: 0 0 40px;
			float: none;
		}
	}

	/* special */
	#special {
		.bg_special {
			background: url(../images/top/bg_special.jpg) 0 0 no-repeat;
			background-size: cover;
			padding: 60px 0;
		}
		.inner_special {
			.ic_special {
			}
			.box_img {
				width: 100%;
				float: none;
				margin-bottom: 4px;
				.box_liquid {
					top: 0;
				}
			}
			.box_txt {
				width: 100%;
				margin-left: 0%;
				float: none;
				text-align: center;
				img {
					margin-bottom: 4px;
				}
				.btn_basic {
					width: auto;
					min-width: 210px;
					display: inline-block;
					float: none;
				}
			}
		}
	}
}
